#myForm input:invalid { 
    background-color: pink;
  }
  #myForm input:valid { 
    background-color:lightGreen; 
  }
   #myForm input:required {
     border: 2px solid red;
  }
   #myForm input:optional {
     border: 2px solid green;
  }